:root {
  --site-background: #062726;
  --title-color: #e2cfea;
  --section-title: #e2cfea;
  --text-background: #6247aa;
  --article-text: #e2cfea;
  --article-title: #102b3f;
  --display: block;
  /*--background-url: url(../images/cover-image-dark.png);*/
}
